<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      id="email"
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link rel="stylesheet" href="{% static 'css/password-reset.css' %}" />
    <link rel="stylesheet" href="style.css" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'assets/favicon/apple-touch-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'assets/favicon/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'assets/favicon/favicon-16x16.png' %}"
    />
    <link rel="manifest" href="{% static 'assets/favicon/site.webmanifest' %}" />
    <script src="js/password-logic.js" defer></script>
    <script src="indexs.js" defer></script>

    <title>Change Password</title>
  </head>

  <body class="sign-in__bg">
    <!-- Forgot Password Page -->

    <section class="sign-in container--sign-in">
      <div class="sign-in__hero">
        <img
          src="{% static 'assets/logo/Excel_Comp_LOGO.svg' %}"
          alt="Excel Comp logo"
          class="logo logo--sign-in"
        />
        <h1 class="hero-heading">
          Quick <span class="hero-heading--colored">Comparison</span> of
          <span class="no-wrap"> Excel Files </span>
        </h1>
        <p class="hero-text">
          With the use of user-friendly features, our Excel file comparison
          software enables Users to compare and highlight changes in spreadsheet
          files.
        </p>
        <img src="assets/sign-up.svg" alt="" class="sign-in__illustration" />
      </div>

      <div class="sign-in__text-container">
        <div class="sign-in-container-mobile">
          <img
            src="{% static 'assets/logo/Excel_Comp_LOGO.svg'%}"
            alt="Excel Comp logo"
            class="logo logo--sign-in-mobile"
          />
          <h2 class="sign-in__title">Password Change</h2>
        </div>
        <h2 class="sign-in__title sign-in__title--desktop">Change Password</h2>
        <p class="sign-in__text">
          Please enter your old password, for securitys sake, and then enter your new password twice so we can verify you typed it in correctly.
        </p>

        <!-- Forgot Password Form -->
        <form method="POST" class="sign-in-form">
          {% csrf_token %}
          <!-- REset Password -->
          <div class="sign-in-form__input ">
            <label> New Password </label>
            <div class="toggle-password-visibility">
               <input
                 class="sign-in-form__input--pasword toggle-password-visibility__input"
                 type="password"
                 title="Must be at least 6 characters"
                 pattern="[a-zA-Z0-9]{6,}"
                 id="input"
                 name="new_password1"
                autocomplete="off"
                 placeholder="Old Password"
                 required
               />
            </div>
               <label> Confirm Password  </label> 
               <div class="toggle-password-visibility">
               <input
                 class="sign-in-form__input--pasword toggle-password-visibility__input"
                 type="password"
                 title="Must be at least 6 characters"
                 pattern="[a-zA-Z0-9]{6,}"
                 id="input"
                 name="new_password2"
                autocomplete="off"
                 placeholder="New Password"
                 required
               />

                  <!-- <p class="password-hint">Must be at least 6 characters long</p> -->
               </div>
               
           
         
         </div>


          <!-- End of REset Password-->

          <button type="submit"  class="sign-in-form__button primary-button">CHANGE MY PASSWORD </button>
        </form>
        <!-- ENd of Forgot Password Form -->
        <footer class="sign-in__footer">
          <p class="sign-in__footer-text footer-text--copy">
            Excel Comp 2022. All right reserved
          </p>
          <p class="mobile-hide">&boxv;</p>

          <a href="#" class="sign-in__footer-text sign-in__footer-link"
            >Terms & Conditions</a
          >
          <p class="mobile-hide">&boxv;</p>
          <a
            href="#"
            class="sign-in__footer-text sign-in__footer-link sign-in__footer-link--one"
            >Privacy Policy</a
          >
        </footer>
      </div>
    </section>
    <!-- End of Forgot Password Page -->
  </body>
</html>
