@import "style.css";


  
.nex-sec{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    background-color: var(--clr-primary-100);
    position: fixed;
    top: 0; 
    width: 100%; 
}
.nex-list{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    
}
.nex_color{
    padding-left: 60px;
    color: var(--gray-1200);
}

.nex_button1{
    padding: 8px 16px;
    border-radius: 8px;
    border: 2px solid #cdcf65;
    background-color: var(--clr-primary-100);
    color: var(--clr-secondary-900);

}
.nex_button2{
    padding: 8px 16px;
    border-radius: 8px;
    margin-left: 16px;
    background-color: var( --clr-primary-400);
    border: none;
}


.nex_1{
  font-size: 64px;
  font-weight: 600;
  line-height: 84px;
  max-width: 13ch;
  margin-left: 60px;


}
.nex_2{
    margin-block: 1.75rem;
    font-size: var(--fs-0);
    max-width: 60ch;
    margin-left: 60px ;

}
.nex_1--heading{
    color: var(--clr-secondary-600);

}
.register_nex{
  border-radius: 8px;
  padding: 15px 90px 15px 90px;
  border: none;
  background-color: var( --clr-primary-900);

}
.nex_login{
    border-radius: 8px;
    padding: 15px 90px 15px 90px;
    border: 2px solid #31653f;
    background-color: var(--clr-primary-100);
    margin-left: 16px;


}
.my-main{
    background-color: var(--clr-primary-100);
    display: flex;
    justify-content: space-around  ;
    align-items: center;
    flex-wrap: wrap;
}
.button-div{
    margin-left: 60px;
}

.sec-zero{
    background-color: var(--gray-100);
    border-radius: 50px 50px 0px 0px;
}
.hill-header{
    font-family: var(--ff-heading);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    color: var(--gray-1200);
    padding-top: 30px;

}
.upload-nex{
    font-family: Georgia;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
}

.upload-para{    
    font-family: Space Grotesk;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    padding-top: 16px ;
    color: var(--gray-1100);
}
.upload-ink{
    display: flex;
    flex-direction: row;
    margin-left: 60px ;
    margin-top: 60px;
}
.group-upload{
    margin-left: 40px;
}
.amico-img{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.new-section{
    background-color: #86BA94;
}
.section-3{
    color: var(--gray-100);
    font-family: Georgia;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    padding-top: 40px;

}
.text-offer{
    font-family: Georgia;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: var(--gray-100);
    text-align: center;
}
.offer-page{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 69px;
    flex-wrap: wrap;
}

.section_4{
    padding-top: 30px;
    background-color: var(--clr-primary-100);
}
.section-4{
    display: flex;
    margin: 60px;
}

.text{
    margin-left: 20px;
    margin-top: -15px;
    
}

.Additional-Features{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;    
}
.section_5{
    background-color: var(  --clr-primary-1000);
}
.section-5{
    font-family: Georgia;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    text-align: center;
    color: var(--gray-100);
    padding-top: 30px; 
}
.get-started{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}
.get_button{
    height: 48px;
    width: 247px;
    border-radius: 8px;
    border: none;
    background-color: var(--clr-secondary-main);
    box-shadow: 0px 1px 5px rgba(0, 36, 106, 0.05);
}

.section_6{
    background-color: var(--clr-primary-100);

}
/*.section{
    background-color: #fff;
    height: 533px;
    width: 1296px;
    display: flex;
    justify-content: center;
    align-self: center;
    

}*/

/*@media screen and (max-width: 760px) {
    .sec-zero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }*/