@import "style.css";


  
.nex-sec{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    background-color: var(--clr-primary-100);
}
.nex-list{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    
}
.nex_color{
    padding-left: 60px;
    color: var(--gray-1200);
}

.nex_button1{
    padding: 8px 16px;
    border-radius: 8px;
    border: 2px solid #cdcf65;
    background-color: var(--clr-primary-100);
    color: var(--clr-secondary-900);

}
.nex_button2{
    padding: 8px 16px;
    border-radius: 8px;
    margin-left: 16px;
    background-color: var( --clr-primary-400);
    border: none;
}

.section_one{
    
}
.nex_1{
  font-size: calc(var(--fs-6) / 1.1);
  font-weight: 600;
  line-height: 1.2;
  max-width: 13ch;


}
.nex_2{
    margin-block: 1.75rem;
    font-size: var(--fs-0);
    max-width: 60ch;

}
.nex_1--heading{
    color: var(--clr-secondary-600);

}
