@import "style.css";


/* Sign in page styles */

/* Sign in hero styles */
.sign-in {
   background-color: var(--clr-primary-100);
   display: grid;
   gap: 3.25rem;
 
   grid-template-columns: 1fr 1fr;
   overflow: hidden;
   padding-inline: 5.25rem 0;
   position: relative;
   margin-block: 5rem;
   box-shadow: var(--shadow-5);
   min-height: 54.3395625rem;
 }
 .sign-in__bg {
   background-color: #fafafa;
   opacity: 1;
   background-image: radial-gradient(#4a975f 0.028125rem, #fafafa 0.028125rem);
   background-size: 0.5625rem 0.5625rem;
 }
 .logo {
   height: 1.5rem;
 }
 .logo--sign-in {
   margin-block: 3.25rem 2.5rem;
 }
 
 .hero-heading {
   font-size: calc(var(--fs-6) / 1.1);
   font-weight: 600;
   line-height: 1.2;
   max-width: 13ch;
 }
 .hero-heading--colored {
   color: var(--clr-secondary-600);
 }
 
 .hero-text {
   margin-block: 1.75rem;
   font-size: var(--fs-0);
   max-width: 58ch;
 }
 .sign-in__illustration {
   position: absolute;
   top: 53%;
   left: -19%;
   max-width: 50%;
   /* top: clamp( 620px , 57%, 9px); */
   /* left: -15.826625rem;
   top: 36.708375rem; */
 }
 
 /* ENd of Sign in hero styles */
 
 /* Sign in text container styles */
 
 .sign-in-container-mobile {
   display: none;
 }
 .sign-in__text-container {
   background-color: var(--gray-200);
   border-radius: 1.375rem 0 0 1.375rem;
   padding: 4.25rem 4rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   max-width: 44rem;
 }
 .sign-in__title {
   font-size: var(--fs-3);
   font-weight: 600;
   margin-block-end: 0.75rem;
 }
 .sign-in__text {
   text-align: center;
   margin-block-end: 1.75rem;
   color: var(--clr-primary-900);
 }
 
 .continue-to-google {
   display: flex;
   gap: 0.75rem;
   padding: 0.75rem;
   margin-block-end: 1.25rem;
   width: 80%;
   justify-content: center;
   background-color: var(--gray-200);
   border-radius: 0.625rem;
   border: 0.1rem solid var(--gray-800);
   background-color: var(--gray-100);
 }
 .continue-to-google:hover {
   cursor: pointer;
   background-color: var(--gray-300);
 }
 .sign-in-form {
   margin-block-start: 1rem;
   width: 100%;
 }
 .sign-in-form > * {
   width: 90%;
   margin-inline: auto;
 }
 .sign-in-form__input {
   margin-block-end: 1.5rem;
   display: flex;
   flex-direction: column;
 }
 /* TODO: FIx the mmust be 6 characters long warning */
 .sign-in-form__input--pasword {
   padding: 0.75rem 1rem;
   border-radius: 0.625rem 0 0 0.625rem;
   height: 3rem;
   border: 0.1rem solid var(--gray-800);
   /* Note: Gray 300 won't work because of the background */
   /* margin-block-start: 0.5rem; */
 }
 .sign-in-form__input--pasword:focus {
   outline: none;
 }
 
 /* .sign-in-form__input--pasword:focus-within {
   animation: form-input-focus 600ms linear normal forwards;
 } */
 .sign-in-form__input--pasword:invalid:focus-within ~ .password-hint {
   display: block;
   font-size: calc(var(--fs--1) / 1.1);
   color: #b00e0e;
 
   margin-block-start: 0.5rem;
 }
 
 .forgot-password {
   text-align: right;
   margin-top: 1rem;
 }
 .sign-in-form__button {
   display: block;
   margin-block: 2.25rem 1rem;
 }
 .password-hint {
   display: none;
 }
 
 .toggle-password-visibility {
   /* display: flex;
    align-items: center;
    justify-content: center; */
   display: grid;
   grid-template-columns: 5fr 1fr;
   place-content: center;
   /* place-items: center; */
   /* Border */
   border: 0.1rem solid #d1d5db;
   border-radius: 0.625rem;
   /* position: relative; */
 }
 
 .toggle-password-visibility:focus-within {
   animation: form-input-focus 600ms linear normal forwards;
 }
 
 .toggle-password-visibility__input {
   border-color: transparent;
 
   /* Take available width */
   flex: 1;
   z-index: 1;
 }
 
 .toggle-password-visibility__toggle {
   /* Reset */
   background: #fff;
   border-color: transparent;
 
   /* Center the content */
   display: grid;
   place-content: center;
   place-items: center;
   height: 3rem;
   border-radius: 0 0.625rem 0.625rem 0;
 
   /* transform: translateX(-12px); */
   cursor: pointer;
 }
 .toggle-password-visibility__toggle > * {
   pointer-events: none;
 }
 /* .toggle-password-visibility__input:focus-within + .toggle-password-visibility__toggle {
    animation: form-button-focus 600ms linear normal forwards;
 
 } */
 
 /* ADditional Info */
 .additional-info {
   display: flex;
   flex-direction: column;
   width: 85%;
   margin-inline: auto;
 }
 .additional-info__terms {
   font-size: calc(var(--fs--1) / 1.05);
   margin-inline: auto;
   color: var(--gray-1000);
 }
 .additional-info__link:any-link {
   display: inline-block;
   color: var(--gray-1200);
   font-weight: 600;
 }
 .additional-info__link:hover,
 .additional-info__link:focus {
   color: var(--gray-1000);
 }
 .additional-info__sign-in {
   margin-block-start: 1.25rem;
   text-align: center;
 }
 
 /* ENd of ADditional Info */
 
 /* SIgn in Footer */
 .sign-in__footer {
   margin-block-start: 6rem;
   gap: 0.75rem;
   display: flex;
   font-size: calc(var(--fs--1) / 1.05);
   width: max-content;
   /* position: sticky;
   bottom: 5%; */
   transform: translateY(10rem);
 }
 .footer-text--copy {
   color: var(--clr-primary-900);
 }
 
 .sign-in__footer-link {
   color: var(--gray-1000);
 }
 .sign-in__footer-link:hover {
   color: var(--gray-1200);
 }
 
 /* ENd of SIgn in Footer */
 
 /* ENd of Sign in text container styles */
 
 /* Animations */
 
 @keyframes form-input-focus {
   0% {
     border-left: 0.1rem solid var(--clr-primary-1000);
   }
   50% {
     border-top: 0.1rem solid var(--clr-primary-1000);
     border-bottom: 0.1rem solid var(--clr-primary-1000);
   }
   100% {
     border: 0.1rem solid var(--clr-primary-1000);
   }
 }
 
 /*ENd of  Animations */
 
 /* MEdia QUeries */
 
 /* Styles For  Laptops and tvs */
 
 @media (max-width: 82.375em) {
   html {
     font-size: 87.5%;
   }
   .sign-in {
     display: grid;
     grid-template-columns: 3fr 1fr;
   }
 
   /* Sign in hero styles */
 
   .hero-heading {
     font-size: calc(var(--fs-6) / 1.26);
   }
 
   .hero-text {
     font-size: calc(var(--fs-0) / 1.05);
   }
 
   .sign-in__illustration {
     top: min(53%, 41.875rem);
     left: -16%;
     top: 59%;
     max-width: 45%;
   }
 
   /* ENd of Sign in hero styles */
   /* .container--sign-in {
     outline-offset: 1.5rem;
     outline: 1rem dotted grey;
   } */
 }
 /* End of Styles For  Laptops and tvs */
 
 /* Styles For  Landscape tablets and small laptops */
 @media (max-width: 62em) {
   html {
     font-size: 72%;
   }
   .sign-in {
     padding-inline: 4.25rem 0;
   }
 
   /* Sign in hero styles */
 
   .logo--sign-in {
     margin-block: 6.25rem 2.5rem;
   }
 
   .sign-in__illustration {
     top: 61%;
   }
 
   /* ENd of Sign in hero styles */
 }
 /* End of Styles For  Landscape tablets and small laptops */
 
 /* Styles For Large phones and portrait tables */
 @media (max-width: 48em) {
   html {
     font-size: 87.5%;
   }
   .sign-in {
     background-color: transparent;
     box-shadow: none;
     margin: 0;
     padding: 0;
     width: 100%;
     display: block;
   }
   /* Sign in hero styles */
 
   .sign-in__hero {
     display: none;
   }
 
   /* ENd of Sign in hero styles */
 
   /* Sign in text container styles */
   .sign-in__text-container {
     border-radius: 0;
     max-width: 100%;
   }
   .sign-in-container-mobile {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
   }
   .logo--sign-in-mobile {
     height: 2rem;
     margin-block-end: 1.5rem;
   }
   .sign-in__title--desktop {
     display: none;
   }
 
   .sign-in-form > * {
     width: 85%;
     margin-inline: auto;
   }
   .continue-to-google + p {
     order: 1;
     margin-block: 1.5rem;
   }
   .continue-to-google {
     order: 2;
     background-color: var(--gray-100);
   }
   .sign-in__footer {
     order: 2;
     transform: translateY(0rem);
   }
 
   /* End Sign in text container styles */
 }
 /* End of Styles For Large phones and portrait tables */
 
 /* Styles For Mobile phones */
 @media (max-width: 36em) {
   .sign-in-form > * {
     width: 100%;
     margin-inline: auto;
   }
   .additional-info {
     width: 90%;
   }
   .sign-in__footer {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     /* place-content: center; */
     place-items: center;
     transform: translateY(0rem);
   }
   .sign-in__footer-text {
     width: 100%;
     text-align: center;
   }
   .sign-in__footer-link {
     grid-column: 1 / -1;
     width: 100%;
     text-align: center;
     order: -1;
   }
   .sign-in__footer-link--one {
     order: -2;
   }
 
   .footer-text--copy {
     grid-column: 1 / -1;
   }
   .mobile-hide {
     display: none;
   }
 }
 /* End of Styles For Mobile phones */
 
 /* End of  MEdia QUeries */
 
 /* End of Sign in page styles */
 