<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/faq.css' %}" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'assets/favicon/apple-touch-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'assets/favicon/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'assets/favicon/favicon-16x16.png' %}"
    />
    <link rel="manifest" href="{% static 'assets/favicon/site.webmanifest' %}" />
    <script src="{% static 'js/index.js'%}" defer></script>

    <title>Privacy Policy</title>
  </head>
  <body>
    <header class="header">
      <section class="header-nav__wrapper">
        <img
          src="{% static 'assets/logo/Excel_Comp_LOGO.svg' %}"
          alt="Excel Comp logo"
          class="logo"
        />
        <nav class="header-nav">
          <ul class="header-nav__list" role="list">
            <li class="header-nav__list-item">
              <a href="{% url 'login' %}" class="outlined-button--small">Sign In</a>
            </li>
            <li class="header-nav__list-item">
              <a href="{% url 'signup' %}" class="primary-button--small">Sign Up</a>
            </li>
          </ul>
        </nav>
      </section>
    </header>
    <main>
      <div class="terms-and-cond-text-container container">
        <h1 class="hero-title--terms-and-cond">Got a question? We have the answers</h1>
      
        <!-- FAQ card one -->
        <div class="faq__card-container ">
           <section class="faq__card">
            <h4 class="faq__card-title">What is Excel Comp</h4>
            <p class="faq__card-text">Excel Comp is a tool that helps you to compare two excel documents or two excel sheets in one file online. It highlights all differences between the two files so that you can find changes quickly. It also allows you find and remove duplicates and blank cells and even merge the two files into one</p>
           </section>
        

        


      <!-- ENd of FAQ card one -->

        <!-- FAQ card two -->
        
           <section class="faq__card">
            <h4 class="faq__card-title">What Types of Documents Can I Compare?</h4>
            <p class="faq__card-text">Using our online platform, you can compare excel documents side-by-side! the documents have to be in common excel file formats like xls, xlsx and csv.</p>
           </section>
       
      <!-- ENd of FAQ card two -->
      

        <!-- FAQ card three -->
        
           <section class="faq__card">
            <h4 class="faq__card-title">Will I have to pay to use Excel Comp?</h4>
            <p class="faq__card-text">No! Excel Comp is free forever once you sign up</p>
           </section>
     
      <!-- ENd of FAQ card three -->
      
      

        <!-- FAQ card four -->
        
           <section class="faq__card">
            <h4 class="faq__card-title">Why Compare with Excel Comp</h4>
            <p class="faq__card-text">Our  comparison tool saves your work time and delivers a simple but functional result and offers you a variety of functions or choices to compare from and with.</p>
           </section>
       
      <!-- ENd of FAQ card four -->

      

        <!-- FAQ card five -->
        
           <section class="faq__card">
            <h4 class="faq__card-title">Downloads</h4>
            <p class="faq__card-text">Easily compare your files and have them downloaded or saved on the cloud for you to access across multiple regions and devices.</p>
           </section>
      
      <!-- ENd of FAQ card five -->

      

        <!-- FAQ card six -->
        
           <section class="faq__card">
            <h4 class="faq__card-title">How do I get started with Excel comp</h4>
            <p class="faq__card-text">Simply signup for free with your email and a password  begin to comparing your excel and spreadsheet files with ease.</p>
           </section>
       
      <!-- ENd of FAQ card six -->


        <!-- FAQ card seven -->
        
           <section class="faq__card">
            <h4 class="faq__card-title">How do I compare two excel files</h4>
            <ul class="faq__card-list">
               After signing into your account
               <li>Upload the two files and wait for the upload process to finish</li>
               <li>Select what other criteria you want to highlight in the two files  asides from the differences</li>
               <li>Select the specific sheets in which the data you want to compare is contained in</li>
               <li>Then click on compare</li>
            </ul>
           </section>
        
      <!-- ENd of FAQ card seven -->


      





        <!-- FAQ card eight -->
        
           <section class="faq__card">
            <h4 class="faq__card-title">How do I compare sheets within  one excel file</h4>
            <ul class="faq__card-list">
               After signing into your account
               <li>Upload the excel files twice and wait for the upload process to finish</li>
               <li>Select what other criteria you want to highlight in the two files  asides from the differences</li>
               <li>Select the specific sheets in which the data you want to compare is contained in</li>
               <li>Then click on compare</li>
            </ul>
           </section>
       
      <!-- ENd of FAQ card eight -->
      
      
        <!-- FAQ card nine -->
        
           <section class="faq__card">
            <h4 class="faq__card-title">Can I download my files in other formats</h4>
            <p class="faq__card-text">Yes you can! Excel Comp gives you the option to download your files in other formats like pdf or word</p>
           </section>
        
      <!-- ENd of FAQ card nine -->
      
      
        <!-- FAQ card ten -->
        
           <section class="faq__card">
            <h4 class="faq__card-title">How can I delete my files</h4>
            <p class="faq__card-text">Log in to your account and click on your profile to view or delete your saved files</p>
           </section>
        
      <!-- ENd of FAQ card ten -->
        
        </div>
    </main>
    <footer class="terms-footer__wrapper">
      
      <div class="terms-footer container">
         <div class="terms-footer__top">
           <img
             src="{% static 'assets/logo/Excel_Comp_LOGO.svg' %}"
             alt="Excel Comp logo"
             class="logo logo--footer"
           />
           <nav class="header-nav footer-nav">
             <ul class="footer-nav__list" role="list">
               <li class="footer-nav__list-item">
                 <a
                   href="{% url 'index' %}"
                   class="txt-btn--gray footer-nav__link"
                   >Home</a
                 >
               </li>
               <li class="footer-nav__list-item">
                 <a
                   href="{% url 'about_us' %}"
                   class="txt-btn--gray footer-nav__link"
                   >About</a
                 >
               </li>
               <li class="footer-nav__list-item">
                 <a
                   href="{% url 'faq' %}"
                   class="txt-btn--gray footer-nav__link"
                   >FAQ</a
                 >
               </li>
               <li class="footer-nav__list-item">
                 <a
                   href="{% url 'contact_us' %}"
                   class="txt-btn--gray footer-nav__link"
                   >Contact</a
                 >
               </li>
             </ul>
           </nav>
         </div>
         <div class="terms-footer__bottom">
           <div class="terms-footer__bottom-left">
             <a href="terms.html" class="txt-btn--gray">Terms & Conditions</a
             ><a href="#" class="txt-btn--gray">Privacy Policy</a>
           </div>
           <div class="terms-footer__bottom-right">
             <p>Excel Comp 2022. All right reserved</p>
           </div>
         </div>
      </div>
    </footer>
  </body>
</html>
