<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      id="email"
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link rel="stylesheet" href="css/password-reset.css" />
    <link rel="stylesheet" href="style.css" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="assets/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="assets/favicon/site.webmanifest" />
    <script src="js/password-logic.js" defer></script>
    <script src="indexs.js" defer></script>

    <title>Forgot Password</title>
  </head>

  <body class="sign-in__bg">
    <!-- Forgot Password Page -->

    <section class="sign-in container--sign-in">
      <div class="sign-in__hero">
        <img
          src="assets/logo/Excel Comp LOGO.svg"
          alt="Excel Comp logo"
          class="logo logo--sign-in"
        />
        <h1 class="hero-heading">
          Quick <span class="hero-heading--colored">Comparison</span> of
          <span class="no-wrap"> Excel Files </span>
        </h1>
        <p class="hero-text">
          With the use of user-friendly features, our Excel file comparison
          software enables Users to compare and highlight changes in spreadsheet
          files.
        </p>
        <img src="assets/sign-up.svg" alt="" class="sign-in__illustration" />
      </div>

      <div class="sign-in__text-container">
        <div class="sign-in-container-mobile">
          <img
            src="assets/logo/Excel Comp LOGO.svg"
            alt="Excel Comp logo"
            class="logo logo--sign-in-mobile"
          />
          <h2 class="sign-in__title">Forgot Password</h2>
        </div>
        <h2 class="sign-in__title sign-in__title--desktop">Reset Password</h2>
        <p class="sign-in__text">
          Enter new password to continue your activity.
        </p>

        <!-- Forgot Password Form -->
        <form action="" class="sign-in-form">
          <!-- REset Password -->
          <div class="sign-in-form__input ">
            <label> Password </label>
            <div class="toggle-password-visibility">
               <input
                 class="sign-in-form__input--pasword toggle-password-visibility__input"
                 type="text"
                 title="Must be at least 6 characters"
                 pattern="[a-zA-Z0-9]{6,}"
                 id="input"
                 name="password"
                autocomplete="off"
                 placeholder="Enter Password"
                 required
               />

               <button class="toggle-password-visibility__toggle" type="button"><span class=""><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" class=""><path d="M12.01 20c-5.065 0-9.586-4.211-12.01-8.424 2.418-4.103 6.943-7.576 12.01-7.576 5.135 0 9.635 3.453 11.999 7.564-2.241 4.43-6.726 8.436-11.999 8.436zm-10.842-8.416c.843 1.331 5.018 7.416 10.842 7.416 6.305 0 10.112-6.103 10.851-7.405-.772-1.198-4.606-6.595-10.851-6.595-6.116 0-10.025 5.355-10.842 6.584zm10.832-4.584c2.76 0 5 2.24 5 5s-2.24 5-5 5-5-2.24-5-5 2.24-5 5-5zm0 1c2.208 0 4 1.792 4 4s-1.792 4-4 4-4-1.792-4-4 1.792-4 4-4z"/></svg></button>
                 
                  <!-- <p class="password-hint">Must be at least 6 characters long</p> -->
               </div>
               
          
           
         
         </div>


          <!-- End of REset Password-->

          <button type="submit" disabled="true" id="submit" class="sign-in-form__button primary-button">Submit</button>
        </form>
        <!-- ENd of Forgot Password Form -->
        <a href="password-forgot.html">TEst link back to forgot password</a>
        <footer class="sign-in__footer">
          <p class="sign-in__footer-text footer-text--copy">
            Excel Comp 2022. All right reserved
          </p>
          <p class="mobile-hide">&boxv;</p>

          <a href="#" class="sign-in__footer-text sign-in__footer-link"
            >Terms & Conditions</a
          >
          <p class="mobile-hide">&boxv;</p>
          <a
            href="#"
            class="sign-in__footer-text sign-in__footer-link sign-in__footer-link--one"
            >Privacy Policy</a
          >
        </footer>
      </div>
    </section>
    <!-- End of Forgot Password Page -->
  </body>
</html>
