@import "style.css";

/* Terms and conditions STyles */
.header {
  position: sticky;
  top: 0;
}
.logo {
  max-height: 2rem;
}

.header-nav__wrapper {
  background-color: var(--clr-primary-100);
  padding: 1rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav__list {
  display: flex;
  gap: 1rem;
}

.error-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.error-text{
    font-family: Georgia;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    text-align: center;
    color: #47474A;

}
.error-paragraph{
    font-family: Space Grotesk;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    color: #47474A;
    
}
.error-button{
    border-radius: 8px;
    padding: 15px 90px 15px 90px;
    border: none;
    background-color:#86BA94;
  
    

}
.button-main{
    display: grid;
    place-items: center;
    margin-top: 30px;

}