@import "style.css";

.sign-in-form {
    margin-block-start: 1rem;
    width: 100%;
  }
  .sign-in-form > * {
    width: 90%;
    margin-inline: auto;
  }
  .sign-in-form__input {
    margin-block-end: 1.5rem;
    display: flex;
    flex-direction: column;
  }
  .sign-in-form__input > input {
    padding: 0.75rem 1rem;
    border-radius: 0.625rem;
    height: 3rem;
    border: 0.1rem solid var(--gray-800);
    /* Note: Gray 300 won't work because of the background */
    margin-block-start: 0.5rem;
  }
  .sign-in-form__input > input:focus {
    outline: none;
  }
  
  .sign-in-form__input > input:focus-within {
    animation: form-input-focus 600ms linear normal forwards;
  }
  .sign-in-form__input--pasword:invalid:focus-within + .password-hint {
  display: block;
  font-size: calc(var(--fs--1) / 1.1);color: #B00E0E;margin-block-start: .5rem;
  }
  .forgot-password {
    text-align: right;
    margin-top: 1rem;
  }
  .password-hint {
     display: none;
  }
  .sign-in-form__button {
    display: block;
    margin-block: 2.25rem 1rem;
  }