@import "style.css";

/* STyles for the main EXcel comp  */
body {
  background-color: var(--clr-primary-100);
}
/* HEader styles */

.logo {
  max-height: 2rem;
}
.header__profile-section {
  display: flex;
  gap: 1.25rem;
  align-items: center;
}
.avatar > svg {
  height: 4rem;
  width: 4rem;
  fill: var(--gray-1100);
}
.avatar {
  border-radius: 50%;
  background-color: var(--gray-100);
  width: -moz-fit-content;
  width: fit-content;
}
.header__profile-section-text-container {
  order: -1;
  text-align: right;
}
.profile-name {
  font-size: var(--fs-1);
  color: var(--clr-primary-700);
  font-weight: 600;
}

.header-nav__wrapper {
  background-color: var(--clr-primary-100);
  padding: 1rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* End of HEader styles */

/* FIle upload works section */
.hero {
  display: grid;
  place-items: center;
  -webkit-margin-before: 2rem;
          margin-block-start: 2rem;
}
.hero-title {
  font-size: calc(var(--fs-6) / 1.1);
  font-weight: 600;
  line-height: 1.2;
  max-width: 18ch;
  text-align: center;
}
.hero-heading--colored {
  color: var(--clr-secondary-600);
}
.hero-text {
  text-align: center;
}
.go-to-brief {
  display: inline-block;
}
.go-to-brief:hover, .go-to-brief:focus {
  color: var(--gray-1000);
}
.hero-text {
  margin-block: 1.75rem;
  font-size: var(--fs-1);
  max-width: 58ch;
}
.file-upload__section {
  margin-block: 6rem;
  /* min-height: 37.5rem; */
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  gap: 4rem;
}
.file-upload__name-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.file-upload__name {
  font-size: calc(var(--fs-2) / 1.1);
  font-weight: 600;
}
.file-upload__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.file-upload__label-wrapper {
  -webkit-margin-before: 2rem;
          margin-block-start: 2rem;
  background-color: var(--gray-100);
  padding: 4rem 2rem;
  border: 0.1875rem dashed var(--clr-primary-300);
  border-radius: 1.5rem;

}
.file-upload__form-comp {
  position: relative;
}
.file-upload__cancel {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: transparent;
  border: none;
  visibility: hidden;
  pointer-events: none;
}
.file-upload__icon-container {
  margin-inline: auto;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.file-upload__label {
  position: relative;
  display: grid;
  cursor: pointer;
}


.file-upload__icon {
  border-radius: 50%;
  background-color: white;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-margin-after: 1.25rem;
          margin-block-end: 1.25rem;
}
.file-upload__icon > svg {
  width: 12rem;
  height: 12rem;
}

.file-upload__icon-text {
  font-size: var(--fs-1);
}
.file-upload__submit {
  margin-block: 2rem;
  display: block;
  margin-inline: auto;
  width: 25%;
  grid-column: 1 / -1;
}
.file-upload__input {
  background: #000;
  display: block;
  width: 100%;
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;

 
}
.equal-file-info {
  font-size: var(--fs-1);
  color: var(--clr-error);
grid-column: 1 / -1;
place-self: center;
}
.file-upload__warning {
  color: var(--clr-error);
  grid-column: 1 / -1;
}
/* ENd of FIle upload works section */

/* HOw it works section */
.how-it-works__wrapper {
  background-color: var(--gray-100);
  border-radius: 3.125rem 3.125rem 0 0;
  padding-block: 3rem 6rem;
}
.how-it-works__title {
  font-size: calc(var(--fs-4) / 1.1);
  font-weight: 600;
  -webkit-margin-after: 4rem;
          margin-block-end: 4rem;
  text-align: center;
}
.how-it-works__card {
  display: flex;
  gap: 1.5rem;


}
.how-it-works__card-container {
  display: grid;
  gap: 2rem;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
}
.how-it-works__icon-container {
  background-color: var(--clr-primary-700);
  border-radius: 0.625rem;
  width: 3.25rem;
  height: 3.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.how-it-works__card-text-container {
  max-width: 70ch;
}
.how-it-works__card-title {
  font-size: var(--fs-2);
  -webkit-margin-after: 0.75rem;
          margin-block-end: 0.75rem;
  font-weight: 600;
}
.how-it-works__illustration {
  position: absolute;
  transform: translate(42rem, -17rem);
  max-width: 30%;
}
/* ENd of HOw it works section */
/* footer */
.footer {
  padding-block: 4rem;
}
.footer__nav-title {
  font-size: calc(var(--fs-1) / 1.1);
  font-weight: 600;
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
}
.footer__nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-content: center;
  place-items: center;
  align-items: start;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  -webkit-margin-before: 2.5rem;
          margin-block-start: 2.5rem;
}
.footer__socials {
  display: flex;
  gap: 1.5rem;
}

.footer__socials > *:hover, .footer__socials > *:focus {
  filter: grayscale(100%);
}
/* End of footer */
/* End of STyles for the main EXcel comp  */
