@import "style.css";

/* HEader STyles */
.header {
  position: sticky;
  top: 0;
}
.logo {
  max-height: 2rem;
}


.header__wrapper {
  position: sticky;
  top: 0;
  z-index: 1;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  background-color: var(--clr-primary-100);
}

.header__nav-list{
  display: flex;
  justify-content: space-evenly;
  width: 33%;
  
  
}

.txt-btn--gray--darker:-moz-any-link {
color: var(--gray-1100);
}

.txt-btn--gray--darker:any-link {
color: var(--gray-1100);
}
.cta-section {
  display: flex;
  gap: 1rem;
}

/* End of HEader and navbar styles */

.about-us__heading {
  font-size: var(--fs-5);
  font-weight: 700;
  text-align: center;
  margin-block: 4rem 2rem;
}

.about-us__content-heading {
  -webkit-margin-after: 1.875rem;
          margin-block-end: 1.875rem;
  font-size: calc(var(--fs-2) / 1.1);
}

.terms-footer__wrapper {
  min-height: 17.5rem;
  background-color: var(--clr-primary-100);
  -webkit-margin-before: 5rem;
          margin-block-start: 5rem;
}
.terms-footer {
  display: grid;
  min-height: 17.5rem;
  -webkit-padding-before: 3rem;
          padding-block-start: 3rem;
}
.terms-footer__top {
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  gap: 2rem;
}
.logo--footer {
  place-self: start;
}
.footer-nav__list {
  display: flex;
  gap: 2.5rem;
}
.footer-nav__link:-moz-any-link {
  font-weight: 700;
  font-size: var(--fs-1);
}
.footer-nav__link:any-link {
  font-weight: 700;
  font-size: var(--fs-1);
}
.terms-footer__bottom {
  border-top: 0.0625rem solid var(--clr-primary-300);
  display: flex;
  padding: 1rem;
  justify-content: space-between;

  color: var(--clr-primary-900);
}
.terms-footer__bottom-left {
  display: flex;
  gap: 0.75rem;
}
.terms-footer__bottom-left > * {
  height: -moz-fit-content;
  height: fit-content;
}
.terms-footer__bottom-left > *:last-child {
  border-left: 0.1rem solid var(--clr-primary-1000);

  -webkit-padding-start: 0.75rem;

          padding-inline-start: 0.75rem;
}
/* ENd of Footer */
