@import "style.css";

/* Terms and conditions STyles */
.header {
  position: sticky;
  top: 0;
}
.logo {
  max-height: 2rem;
}

.header-nav__wrapper {
  background-color: var(--clr-primary-100);
  padding: 1rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav__list {
  display: flex;
  gap: 1rem;
}

/* Content STyles */
.terms-and-cond-text-container {
  max-width: 70ch;
  font-size: calc(var(--fs-1) / 1.1);
}
.hero-title--terms-and-cond {
  font-size: var(--fs-5);
  font-weight: 500;
  text-align: center;
  margin-block: 5rem 2.25rem;
}
.terms-and-cond-text-container__term-list {
  list-style: upper-alpha;
}
.policy-text-container__term-list {
  list-style: disclosure-closed;
  margin-inline-start: 1.25rem;
}
.policy-text-container__term-list > * {
  margin-block-end: 0.75rem;
}
.terms-and-cond-text-container__term {
  margin-block: 2.5rem;
  font-size: calc(var(--fs-1) * 1.2);
}
.policy-text-container__term {
  margin-block: 2rem;
}

.terms-and-cond-text-container__term-title,
.terms-and-cond-text-container__term-nested-list {
  margin-block-end: 2rem;
}
.policy-text-container__term-title {
  margin-block: 3.5rem 1rem;
  font-size: calc(var(--fs-1) * 1.2);
}
.terms-and-cond-text-container__term-nested-list {
  margin-inline-start: 1.25rem;
  font-size: calc(var(--fs-1) / 1.1);
}
.terms-and-cond-text-container__term-nested-list > *,
.space-paragraph {
  margin-block-end: 1rem;
}
.space-paragraph--xl {
  margin-block: 2.75rem 1.25rem;
}
.terms-and-cond-text-container__term-nested-list-title {
  font-family: var(--ff-body);
  font-size: calc(var(--fs-1) * 1.03);
  margin-block-end: 0.5rem;
}

.terms-and-cond-text-container__term-nested-list--ul {
  list-style-type: disc;
}
.terms-and-cond-text-container__term-nested-list--ul > li {
  margin-inline-start: 1.25rem;
}
/* End of Content STyles */
/* Footer styles */
.terms-footer__wrapper {
  min-height: 17.5rem;
  background-color: var(--clr-primary-100);
  margin-block-start: 5rem;
}
.terms-footer {
  display: grid;
  min-height: 17.5rem;
  padding-block-start: 3rem;
}
.terms-footer__top {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 2rem;
}
.logo--footer {
  place-self: start;
}
.footer-nav__list {
  display: flex;
  gap: 2.5rem;
}
.footer-nav__link:any-link {
  font-weight: 700;
  font-size: var(--fs-1);
}
.terms-footer__bottom {
  border-top: 0.0625rem solid var(--clr-primary-300);
  display: flex;
  padding: 1rem;
  justify-content: space-between;

  color: var(--clr-primary-900);
}
.terms-footer__bottom-left {
  display: flex;
  gap: 0.75rem;
}
.terms-footer__bottom-left > * {
  height: fit-content;
}
.terms-footer__bottom-left > *:last-child {
  border-left: 0.1rem solid var(--clr-primary-1000);

  padding-inline-start: 0.75rem;
}
/* ENd of Footer styles */
/* End of terms and conditions Styles */

/* FAQ STYles */
.faq__card {
  background-color: var(--gray-300);
  padding: 1.5rem 2.125rem;
  border-radius: 0.75rem;
}
.faq__card-container {
  display: grid;
  gap: 2.625rem;
  grid-template-columns: 1fr 1fr;
}

.faq__card-title {
  font-weight: 600;
  margin-block-end: 1.5rem;
}
.faq__card-list {
  margin-inline-start: 1.5rem;
}
@media (max-width: 48em) {
  .faq__card-container {
    gap: 1.5rem;
    padding-inline: 1rem;
    grid-template-columns: 1fr;
  }
}
/* ENd of FAQ STYles */
