<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/landingpage.css' %}">
    <title>Landing Page</title>
</head>
<body>
    <header>
        <nav class="nex-sec">
            <div class="nex-image">
                <img src="{% static 'assets/logo/Excel_Comp_LOGO.svg' %}" alt="logo_image"/>
            </div>
            <ul class="nex-list">
                <li class="nex_color"><a href="#home">Home</a></li>
                <li class="nex_color"><a href="#about">About</a></li>
                <li class="nex_color"><a href="#contact">Contact</a></li>
                <li class="nex_color"><a href="#faq">Faq</a></li>
            </ul>
            <div class="nex-button">
                <button class="nex_button1"><a href="{% url 'login' %}" style="color: #787A10;">Sign in</a></button>
                <button class="nex_button2"><a href="{% url 'signup' %}" style="color: white ;">Sign up</a></button>
            </div>
        </nav>
    </header>
    <main>
        <section class="my-main">
            <div class="section_one">
                <h1 class="nex_1">
                    Quick <span class="nex_1--heading">Comparison</span> of Excel
                    Files
    
                </h1>
                <p class="nex_2">
                    With the use of user-friendly features, our Excel file comparison
                    software enables Users to compare and highlight changes in spreadsheet.
                </p>
                <div class="button-div">
                    <button class="register_nex"><a href="{% url 'signup' %}" style="color: white;">Register</a></button>
                    <button class="nex_login"><a href="{% url 'login' %}"style="color: #31653F;">Login</a></button>
                </div>
    
            </div>
            <div>
                <img src="{% static 'assets/sign-up.svg' %}" alt="incase-you dont view"/>
            </div>
        </section>

        <section class="sec-zero">
            <h2 class="hill-header">How it works</h2>

            <div class="upload-ink">
                <div class="upload-style">
                    <img src="{% static 'assets/Icons/cloud-upload-outlined.svg' %}" class="cloud-color" alt="upload logo"/>
                </div>
                <div class="group-upload">
                    <h4 class="upload-nex">Upload</h4>
                    <p class="upload-para">Select the necessary sheet and upload the two Excel files to be compared separately. Select<br>
                        the target sheets and upload the same file repeatedly if you want to compare sheets inside 
                        the same file.
                    </p>
                </div>
            </div>

            <div class="upload-ink">
                <div class="upload-style">
                    <img src="{% static 'assets/Icons/view-grid.svg' %}" class="cloud-color" alt="upload logo"/>
                </div>
                <div class="group-upload">
                    <h4 class="upload-nex">Criteria Selection</h4>
                    <p class="upload-para">Choose the important inputs and a course of action that reflect the type of comparison you are<br> 
                        about to make. You can come back to this screen and choose again.
                    </p>
                </div>
            </div>


            <div class="upload-ink">
                <div class="upload-style">
                    <img src="{% static 'assets/Icons/hand-click.svg' %}" class="cloud-color" alt="upload logo"/>
                </div>
                <div class="group-upload">
                    <h4 class="upload-nex">Click to Compare</h4>
                    <p class="upload-para">The action will be taken when you click the "COMPARE" button below.</p>
                </div>
            </div>


            <div class="upload-ink">
                <div class="upload-style">
                    <img src="{% static 'assets/Icons/clock.svg' %}" class="cloud-color" alt="upload logo"/>
                </div>
                <div class="group-upload">
                    <h4 class="upload-nex">Download or Save result</h4>
                    <p class="upload-para">Save your comparison result for later or download it now.</p>
                </div>
            </div>

            <div class="upload-ink">
                <div class="upload-style">
                    <img src="{% static 'assets/Icons/file-earmark-text.svg' %}" class="cloud-color" alt="upload logo"/>
                </div>
                <div class="group-upload">
                    <h4 class="upload-nex">File size</h4>
                    <p class="upload-para">File sizes shouldn't exceed 10MB.</p>
                </div>
                
            </div>
            <div class="amico-img">
                <img src="{% static 'assets/amico.png' %} "/>
                
            </div>

        </section>
        <section class="new-section">
            <div>
                <h4 class="section-3">What we offer</h4>
            </div>
            <div>
                <div>
                    <h3 class="text-offer">Extract</h3>
                    <div>
                        <img src="{% static 'assets/what-we-offer-1.svg' %} " alt="extract-1">
                    </div>
                </div>
                <div>
                    <h3 class="text-offer" >Track</h3>
                    <div>
                        <img src="{% static 'assets/what-we-offer-2.svg' %}" alt="extract-1">
                    </div>
                </div>
                <div>
                    <h3 class="text-offer">Manage</h3>
                    <div>
                        <img src="{% static 'assets/what-we-offer-3.jpg' %}" alt="extract-1">
                    </div>
                </div>
            </div>
        </section>

    </main>
   

    
</body>
</html>